<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>My app - {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">

  <link rel="stylesheet" href="{{ path }}/static/css/bootstrap.css">
  <link rel="stylesheet" href="{{ path }}/static/css/app.css?v1">

  <link rel="shortcut icon" href="{{ path }}/static/layout/favicon-twitter.png">
</head>
<body ng-controller="AppCtrl">


  <header>
    <a href="{{ path }}">
      <img src="{{ path }}/static/layout/twitter_logo_blue.png" height="50" />
    </a>
    <h1>{% block header_title %}{{ title }}{% endblock %}</h1>
  </header>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <p>
      A tasty beginning Web Dev with 
      <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, 
      <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and 
      <a href="http://angularjs.org/" target="_blank">AngularJS</a> by 
      <a href="https://twitter.com/" target="_blank">@zizzamia</a>
    </p>
  </footer>

  <script>
  var path = '{{ path }}';
  </script>
  <script src="{{ path }}/static/js/angular.min.js"></script>
  <script src="{{ path }}/static/js/app.js?v1"></script>
</body>
</html>